body{
    margin: 0;
}
.hero{
   background-image: url(dog.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   padding: 0 30px;
   min-height: 100vh;
   overflow: hidden;
}
.header1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.header2{
    display: none;
}
.header1 .t{
    padding: 0 8px;
    font-size: 20px;
}
.header1 .fa-angle-down{
    padding-left: 5px;
}
.header1 nav a{
    text-decoration: none;
    color: rgb(178, 177, 177);
    padding: 0 10px;
}
.header1 nav a:hover{
    color: white;
}
.header1 .first{
    background-color: white;
    border: none;
    width: 160px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}
.header1 .first:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}
.header1 .firsto{
    background-color: white;
    display: none;
    border: none;
    width: 160px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}
.header1 .firsto:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.header2 .t{
    padding: 0 8px;
    font-size: 20px;
}
.header2 .fa-angle-down{
    padding-left: 5px;
}
.header2 .drop{
    width: 150px;
    background-color: rgb(47, 47, 47);
    box-shadow: 0 5px 16px rgb(2, 44, 103);
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 1000;
}
.header2 p{
    color: rgb(178, 177, 177);
    cursor: pointer;
}
.header2 .drop a{
    text-decoration: none;
    color: rgb(178, 177, 177);
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(178, 177, 177);
    transition: 0.5s;
}
.header2 .drop a:last-child{
    border-bottom: none;
}
.header2 .drop a:hover{
    color: white;
    background-color: rgb(69, 69, 69);
    padding-left: 25px;
}
.header2 .firsto{
    background-color: white;
    display: none;
    border: none;
    width: 160px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
}
.header2 .firsto:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}
section{
    width: 50%;
}
section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    width: 80%;
}
section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second{
    width: 150px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    background: transparent;
    border: 2px solid white;
    color: white;
}
.second:hover{
    transition: 0.5s;
    background-color: white;
    color: #04253C;
}
span .fa-paw{
    transform: translateY(8px);
}
@media only screen and (min-width: 1074px){
    section h1{
        font-size: 4.3vw;
    }
    section p{
        font-size: 24px;
    }
    section{
        width: 50%;
    }
}
@media only screen and (max-width: 846px){
    .hero{
        background-image: url(dog2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    section {
        width: 60%;
        margin-top: 40px;
    }
    section h1{
        font-size: 6.3vw;
    }
}
@media only screen and (max-width: 800px){
    .header1 .first{
        display: none;
    }
    .header1 .firsto{
        display: block;
        width: 70px;
    }
}
@media only screen and (max-width: 720px){
    .header1{
        display:none
    }
    .header2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0; 
}
    .menu:hover .drop{
        display: block;
    }
    .menu:hover .fa-angle-down{
        rotate: 180deg;
        transition: 0.5s ease-out;
    }
    .header2 .first{
        display: none;
    }
    .header2 .firsto{
        display: block;
        padding: 7px;
        width: 80px;
    }
}
@media only screen and (max-width: 700px){
    .hero{
   background-image: url(dog3.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   color: white;
   padding: 0 30px;
   min-height: 100vh;
   overflow: hidden;
 }
 section p{
    width: 80%;
 }
}